.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
    padding: 2rem;
  }
  
  .product-card {
    border: 3px solid gray;
    border-radius: 3px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
  }
  
  .product-card:hover {
    transform: scale (1.05);
    box-shadow: 0 12px 24px #999, 0 12px 24px #999;
  }
  
  .product-card img {
    width: 80%;
    height: 70%;
  }
  
  
  .bold {
    font-weight: 700;
  }

