/* Shop.css */

/* Estilo para el navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .navbar input {
    margin-right: 5px;
  }
  
  .navbar button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Estilo para el contenedor del resumen */
  .summary-container {
    padding: 20px;
  }
  
  /* Estilo para los cuadros de los elementos del resumen */
  .summary-item {
    background-color: #f9f9f9; /* Tonalidad de blanco */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Estilo para los cuadros de los elementos alternos con una tonalidad de blanco diferente */
  .summary-item:nth-child(even) {
    background-color: #f2f2f2; /* Otra tonalidad de blanco */
  }
  
  .summary-item p {
    margin: 0;
  }
  
  .summary-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .summary-item ul li {
    margin-bottom: 5px;
  }
  
  .summary-item ul li:last-child {
    margin-bottom: 0;
  }
  
  .content {
    display: flex;
    margin-top: 60px; /* Ajusta el margen superior para dejar espacio para el navbar */
  }
  
  /* Estilo para el sidebar */
  .sidebar {
    flex: 0 0 250px; /* Ancho fijo del sidebar */
    padding: 20px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
  }
  
  /* Estilo para los elementos del sidebar */
  .sidebar-item {
    margin-bottom: 20px;
  }
  
  .sidebar-item p {
    margin: 0;
  }
  
  .sidebar-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-item ul li {
    margin-bottom: 5px;
  }
  
  .sidebar-item ul li:last-child {
    margin-bottom: 0;
  }