.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 1rem;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto; /* Agrega scroll si el contenido es largo */
    z-index: 1; /* Asegura que el sidebar esté encima del contenido */
  }
  
  .summary-content {
    margin-top: 60px; /* Ajusta el valor para dar espacio entre el navbar y el contenido del summary */
  }
  