button {
  display: inline-block;
  border-color: #d7be69;
  border-radius: 80px;
  background-color: #d7be69;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.3);

}

input {

  border-radius: 10px;
  padding: 10px 20px;
  border-color: #d7be69;
}

input:focus {

  background-color: #d7be69;
  border-color: #d7be69;

}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: white;
  background-color: black;
  
}


 
nav{
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 nav ul li{
     display: inline-block;
     list-style: none;
     margin: 10px 20px;
 }
 
 nav ul li a{
     text-decoration: none;
     color: white;
     
     
 }
 
 nav ul li a:hover{
     color: #d7be69;
 } 




